@import "tailwindcss";


:root {
  /* Font variables will be injected by Next.js */
  
  --radius: 0.625rem;
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 14.5%);
  
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 14.5%);
  
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 14.5%);
  
  --primary: hsl(0 0% 20.5%);
  --primary-foreground: hsl(0 0% 98.5%);
  
  --secondary: hsl(0 0% 97%);
  --secondary-foreground: hsl(0 0% 20.5%);
  
  --muted: hsl(0 0% 97%);
  --muted-foreground: hsl(0 0% 55.6%);
  
  --accent: hsl(0 0% 97%);
  --accent-foreground: hsl(0 0% 20.5%);
  
  --destructive: hsl(358 85% 57.7%);
  --destructive-foreground: hsl(0 0% 98.5%);
  
  --border: hsl(0 0% 92.2%);
  --input: hsl(0 0% 92.2%);
  --ring: hsl(0 0% 70.8%);
  
  --radius: 0.5rem;
}

.dark {
  --background: hsl(0 0% 14.5%);
  --foreground: hsl(0 0% 98.5%);
  
  --card: hsl(0 0% 20.5%);
  --card-foreground: hsl(0 0% 98.5%);
  
  --popover: hsl(0 0% 20.5%);
  --popover-foreground: hsl(0 0% 98.5%);
  
  --primary: hsl(0 0% 92.2%);
  --primary-foreground: hsl(0 0% 20.5%);
  
  --secondary: hsl(0 0% 26.9%);
  --secondary-foreground: hsl(0 0% 98.5%);
  
  --muted: hsl(0 0% 26.9%);
  --muted-foreground: hsl(0 0% 70.8%);
  
  --accent: hsl(0 0% 26.9%);
  --accent-foreground: hsl(0 0% 98.5%);
  
  --destructive: hsl(358 85% 70.4%);
  --destructive-foreground: hsl(0 0% 14.5%);
    --border: hsl(0 0% 100% / 0.1);
  --input: hsl(0 0% 100% / 0.15);
  --ring: hsl(0 0% 55.6%);
}

@layer base {
  * {
    @reference border-border;
  }
  body {
    @reference bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
